p {
    margin-bottom: 1.2em;
}

ins.adsbygoogle {
    background: transparent !important;
}

#ai_widget-2 {
    background: transparent !important;
}

code {
    background: #eaedef;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.3em;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}